---
layout: archive
author_profile: true
title: My Sample Projects
---
<h2 class="archive__subtitle">
  {{ site.data.ui-text[site.locale].github_repositories | default: "Github repositories" }}
</h2>
<p>
    These are projects where I have participated partially or totally in the creation of its codebase.
</p>
<section class="list__item">
{% for project in site.data.projects %}
  <article class="archive__item" itemscope itemtype="http://schema.org/SoftwareSourceCode">
      <meta itemprop="author" content="{{ site.author.name }}" />
      {% if project.targetProduct %}
      <meta itemprop="targetProduct" content="{{ project.targetProduct }}" />
      {% endif %} 
        <h2 class="archive__item-title" itemprop="headline">
          {% if project.url %}
          <a href="{{project.url}}">{{ project.name }}</a>
          {% else %}
          <a href="https://{{ site.www }}/{{project.github-id }}">{{ project.name }}</a> 
          {% endif %}
        </h2>
      <div class="archive__item-excerpt" itemprop="description">{{ project.description }}</div>
      <id class="detail-options">
        {% if project.url %}
        <a href="{{project.url}}" class="archive__item-show-details" itemprop="codeRepository">Source code</a>
        {% else %}
        <a href="{{site.author.github}}/{{project.github-id}}" class="archive__item-show-details" itemprop="codeRepository">Source code</a>
        {% endif %}
        {% if project.programmingLanguages %}
        <ul class="plangs" itemprop="targetProduct">
          {% for plang in project.programmingLanguages %}
          <li itemprop="sameAs" content="{{ plang }}">
            <i title="{{plang}}" class="colored icon-lang-{{ plang | downcase | replace: ' ' }}"></i>
          </li>
          {% endfor %}
        </ul>
        <meta  content="{{ project.programmingLanguages | join: ', '}}" />
        {% endif %}
      </id>
  </article>
{% endfor %}
<p class="notice--info"><strong>And more...</strong> 
  Unfortunately there are some projects which I cannot share because it belongs to 
  previous costumers or because they are just private like this <a href="http://uni-to.appspot.com">Unito</a>
</p> 
</section>