---
layout: archive
---
<detail>
Hi developer, my name is Eliecer Hern&aacute;ndez Garbey but you can call me 
<abbr title="Eli comes form Eliecer and uX is an allusion to UniX based operative systems">EliuX</abbr>.
This website has the purpose of gathering in one place content of my creation to be shared worldwide, 
including its own <a href="https://github.com/{{site.repository}}">source code</a>. 
</detail>
<ul>
    <li>
      Click in <a href="{{site.url}}/projects">Sample projects</a> to get a list of source codes of
    my making, that I can share with you.
    </li>
    <li>
      Click in <a href="{{site.url}}/blog">Blog</a> to find from simple notes to nicely detailed 
      solutions I have come up while learning and developing with technologies I like. 
    </li>
</ul>

<h3 class="archive__subtitle">
  {{ site.data.ui-text[site.locale].recent_posts | default: "My latest Posts" }}
</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
